@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Noto+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
  
body {
    font-family: 'Antic Slab', Arial, serif;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    background: white;
}
  
header {
    margin: 0 auto;
    width: 650px;
}
  
h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: #000000;
    text-align: center;
}
  
form {
    width: 550px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: rgb(122, 116, 116);
    display: grid;
}
  
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
  
label, input, button, select, textarea {
    font-family: 'Noto Sans', Arial, sans-serif;
}
  
label {
    text-align: left;
    padding: 0.5rem;
}
  
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}
  
img {
    padding: 0.5rem;
}
  
button {
    margin: 1rem;
    background-color: #25382b;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}
  
footer { 
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: black;
    padding-bottom: 1rem;
}
  
.form-item {
    display: grid;
    align-items: center;
}
