@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Mate+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
  
body {
    font-family: 'Lobster Two', cursive;
    font-family: 'Mate SC', serif;
    font-size: 1.2em;
    color: black;
    background: white;
}
  
header {
    margin: 0 auto;
    width: 650px;
}

h1 {
    margin: 1rem;
    font-size: 1.5em;
    color: black;
    text-align: center;
}
  
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: lightgray;
    display: grid;
}
  
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
}
  
legend {
    padding: 0.5rem;
    color: black;
    font-size: 1.3em;
}
  
label, input, button, select, textarea {
    font-family: 'Noto Sans', Arial, sans-serif;
}
  
label {
    text-align: left;
    padding-right: 1rem;
}
  
input, select, textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
    width: 100%;
}
  
input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}
  
button {
    margin: 1rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.75rem;
    font-size: 1.2rem;
}

button:hover {
    background-color: olive;
}
  
footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: 0.8em;
    color: black;
    border-top: 1px solid #ccc;
    padding: 1rem;
}
  
.form-item {
    display: grid;
    align-items: center;
}
  
.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}
  
.column2 {
    grid-template-columns: 3fr 1fr;
}
